@media screen and (min-width: 0) and (max-width: 500px) {
  .divImgSize {
    height: 452px;
  }
}

@media screen and (min-width: 501px) and (max-width: 580px) {
  .divImgSize {
    height: 544px;
  }
}

@media screen and (min-width: 581px) and (max-width: 609px) {
  .divImgSize {
    height: 608px;
  }
}
@media screen and (min-width: 610px) and (max-width: 670px) {
  .divImgSize {
    height: 670px;
  }
}
@media screen and (min-width: 671px) and (max-width: 750px) {
  .divImgSize {
    height: 762px;
  }
}

@media screen and (min-width: 751px) and (max-width: 767px) {
  .divImgSize {
    height: 762px;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .divImgSize {
    height: 485px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1023px) {
  .divImgSize {
    height: 619px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .divImgSize {
    height: 450px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .divImgSize {
    height: 560px;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1535px) {
  .divImgSize {
    height: 675px;
  }
}

@media screen and (min-width: 1536px) and (max-width: 1700px) {
  .divImgSize {
    height: 505px;
  }
}

@media screen and (min-width: 1701px) and (max-width: 1800px) {
  .divImgSize {
    height: 591px;
  }
}

@media screen and (min-width: 1801px) {
  .divImgSize {
    height: 651px;
  }
}
