.left-right {
  position: relative;
  animation: left-right-anim 2s infinite;
}

@keyframes left-right-anim {
  0% {
    left: 0;
  }

  25% {
    right: 80%;
  }
  50% {
    left: 0;
  }
  75% {
    left: 80%;
  }

  100% {
    left: 0;
  }
}
