.App {
  font-family: sans-serif;
}
.scrollspy {
  background-color: #515151;
  margin: 10px;
  //   position: fixed;
  //   position: absolute;
}
ul {
  list-style: none;
}
li {
  margin: 10px;
  padding: 10px 0;
}
a {
  color: white;
}
.isCurrent {
  font-weight: bold;
}

.isCurrent a,
h2 {
  color: #f1a07a;
}
