.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  padding: 20px 0;
  position: absolute;
  background-color: aqua;
  top: 50%;
}

li {
  cursor: pointer;
}

#section1,
#section2,
#section3,
#section4 {
  width: 100vw;
  min-height: 100vh;
  margin-top: 100px;
  color: red;
}
