/* Caousel card animation */
.bgBlur {
  bottom: -628px;
  left: 0;
  border-bottom: 1.5rem;
}

.btnInterview {
  position: absolute;
  bottom: -71px;
  left: 105px;
}

#divBtn:hover > .bgBlur {
  transform: translateY(-443px);
  transition-property: all;
  transition-duration: 200ms;
}
#divBtn:hover > .btnInterview {
  transform: translateY(-136px);
  transition-property: all;
  transition-duration: 200ms;
}

#divBtn:hover > .imgText {
  transform: translateY(-132px);
  transition-property: all;
  transition-duration: 200ms;
}

#divBtn:hover > .scaleImg {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: all;
  transition-duration: 200ms;
}

/* Cousel Arrow Css */
.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-prev:before {
  content: url(../../../../assets/homepage_img/prev_arrow.png);
  width: 100px;
  height: 100px;
  position: absolute;
  left: -189px;
}
.slick-next:before {
  content: url(../../../../assets/homepage_img/next_arrow.png);
  width: 100px;
  height: 100px;
  position: absolute;
  right: -181px;
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .slick-prev:before {
    left: -467%;
  }
  .slick-next:before {
    right: -129%;
  }
  .btnInterview {
    bottom: -74px;
    left: 20%;
  }

  #divBtn:hover > .bgBlur {
    transform: translateY(-560px);
    transition-property: all;
    transition-duration: 200ms;
  }
  .slick-slider {
    padding-left: -4%;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .slick-prev:before {
    left: -143px;
  }
  .slick-next:before {
    left: -47px;
  }
  .btnInterview {
    bottom: -74px;
    left: 65px;
  }
  #divBtn:hover > .bgBlur {
    transform: translateY(-522px);
    transition-property: all;
    transition-duration: 200ms;
  }
}

@media screen and (min-width: 1536px) and (max-width: 1600px) {
  #divBtn {
    width: 327px !important;
    height: 554px !important;
    #founderText {
      #founder {
        p {
          font-size: 10px;
        }
      }
    }
    #pText {
      p {
        font-size: 10px;
      }
    }
  }
  #nameText {
    p {
      font-size: 30px;
    }
  }
  .btnInterview {
    left: 61px;
  }

  #divBtn:hover > .bgBlur {
    transform: translateY(-539px);
  }
}

.carousel.carousel-slider {
  margin: auto;
}
