.categorydetailyear {
  display: none;
  // background: "black",
  width: 10%;
  position: fixed;
  top: 45%;
  z-index: 5;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  width: fit-content;
  padding-left: 5%;

  .frameyearcategory {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .yeartitle:hover {
      cursor: pointer;
      text-decoration-line: underline;
      color: #ffffff;
    }
    .yeartitle {
      opacity: 0.4;
    }
    .active {
      letter-spacing: 0.02em;
      text-decoration-line: underline;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #ffffff;
      opacity: 1;
    }
  }
}

.element {
  // PC 1920
  width: auto;
  // padding-bottom: 18%;
  background-color: #151515;

  .rootgallery {
    width: auto;
    background-color: #151515;
    height: 100%;
    .carousel-gallery {
      position: relative;
      padding-top: 0px;
      color: #ffffff;
      width: 73%;
      height: auto;
      margin: auto;
      .frameimgmain {
        height: auto;
        .frameimgtop {
          display: flex;
          // width: 100%;
          column-gap: 14%;
          height: auto;
          margin-left: 11.4%;
          .frameimg1 {
            img {
              width: 100%;
              height: auto;
            }
          }
          .frameimg2 {
            margin-top: auto;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        .frameimgbot {
          width: 100%;
          display: flex;
          margin-top: 10.5%;
          margin-left: 0px;
          height: auto;
          column-gap: 14%;
          .frameimg3 {
            height: auto;
            img {
              width: 100%;
              height: auto;
            }
          }
          .frameimg4 {
            height: auto;
            margin-left: 0px;
            margin-top: 9.5%;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      .frameimgmain2 {
        height: auto;
        // padding-top: 60px;
        // margin-bottom: 19%;
        .frameimgtop {
          display: flex;
          column-gap: 11%;
          height: auto;
          margin-left: 7%;
          .frameimg1 {
            margin-top: 14%;
            img {
              width: 100%;
              height: auto;
            }
          }
          .frameimg2 {
            margin-left: 0px;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        .frameimgbot {
          width: 36%;
          display: flex;
          margin: auto;
          margin-top: 21%;
          height: auto;
          .frameimg3 {
            img {
              width: 100%;
              height: auto;
            }
          }
          .frameimg4 {
            display: none;
          }
        }
      }
      .frametitleyear {
        position: absolute;
        left: 50%;
        top: 27%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        row-gap: 0;
        width: fit-content;
        .titleyeardetail {
          width: auto;
          height: auto;
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 800;
          // font-size: 200px;
          font-size: 10.5vw;
          line-height: 100%;
          /* identical to box height, or 200px */
          text-align: center;
          letter-spacing: 0.02em;
        }
        .titleyeardetail::after {
          color: #fcfcfc;
          content: "";
          display: block;
          width: 43px;
          height: 2px;
          margin: auto;
          margin-top: 5%;
          background: #fcfcfc;
        }
        .detailtitle {
          /* Body 20 Poppins */
          font-family: "Poppins", sans-serif;
          margin: auto;
          margin-top: 5%;
          width: auto;
          font-style: normal;
          font-weight: 400;
          font-size: 1vw;
          // line-height: 32px;
          line-height: 1.7vw;
          /* or 160% */
          text-align: center;
          letter-spacing: -0.02em;
        }
      }
    }
  }
}

// RESPONSIVE

/* MOBILE WIDTH < 740px */
@media screen and (max-width: 769px) {
  .categorydetailyear {
    display: none;
    // height: auto;
    width: fit-content;
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0%;
    z-index: 2000;
    .frameyearcategory {
      display: flex;
      flex-direction: row;
      column-gap: 25px;

      .yeartitle:hover {
        cursor: none;
        text-decoration-line: none;
        color: #ffffff;
      }
    }
  }
  .element {
    // PC 1920
    width: auto;
    .rootgallery {
      width: auto;
      background-color: #151515;
      .carousel-gallery {
        position: relative;
        padding-top: 0px;
        color: #ffffff;
        width: 77%;
        height: auto;
        margin: auto;
        .frameimgmain {
          height: auto;
          padding-top: 60px;
          padding-bottom: 19%;
          .frameimgtop {
            display: flex;
            // width: 100%;
            column-gap: 14%;
            height: auto;
            margin-left: 11.4%;
            .frameimg1 {
              img {
                width: 100%;
                height: auto;
              }
            }
            .frameimg2 {
              margin-top: auto;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
          .frameimgbot {
            width: 100%;
            display: flex;
            margin-top: 10.5%;
            margin-left: 0px;
            height: auto;
            column-gap: 14%;
            .frameimg3 {
              height: auto;
              img {
                width: 100%;
                height: auto;
              }
            }
            .frameimg4 {
              height: auto;
              margin-left: 0px;
              margin-top: 9.5%;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
        .frameimgmain2 {
          height: auto;
          // padding-top: 60px;
          // margin-bottom: 19%;
          .frameimgtop {
            display: flex;
            column-gap: 11%;
            height: auto;
            margin-left: 7%;
            .frameimg1 {
              margin-top: 14%;
              img {
                width: 100%;
                height: auto;
              }
            }
            .frameimg2 {
              margin-left: 0px;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
          .frameimgbot {
            width: 36%;
            display: flex;
            margin: auto;
            margin-top: 21%;
            height: auto;
            .frameimg3 {
              img {
                width: 100%;
                height: auto;
              }
            }
            .frameimg4 {
              display: none;
            }
          }
        }
        .frametitleyear {
          position: absolute;
          left: 50%;
          top: 27%;
          transform: translateX(-50%);
          display: flex;
          flex-direction: column;
          row-gap: 0;
          width: fit-content;
          .titleyeardetail {
            width: auto;
            height: auto;
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 800;
            // font-size: 200px;
            font-size: 60px;
            line-height: 100%;
            /* identical to box height, or 200px */
            text-align: center;
            letter-spacing: 0.02em;
          }
          .titleyeardetail::after {
            color: #fcfcfc;
            content: "";
            display: block;
            width: 43px;
            height: 2px;
            margin: auto;
            margin-top: 8%;
            background: #fcfcfc;
          }
          .detailtitle {
            /* Body 20 Poppins */
            font-family: "Poppins", sans-serif;
            margin: auto;
            margin-top: 7%;
            width: 288px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            /* or 160% */
            text-align: center;
            letter-spacing: -0.02em;
          }
        }
      }
    }
  }
}
