.left-right1 {
  -moz-animation: 10s linear 0s infinite normal none running leftRight1;
  -webkit-animation: 10s linear 0s infinite normal none running leftRight1;
  animation: 10s linear 0s infinite normal none running leftRight1;
}

/* for Firefox */
/* @-moz-keyframes leftRight1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
} */

/* for Chrome */
/* @-webkit-keyframes leftRight1 {
  0% {
    -webkit-transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
} */

@keyframes leftRight1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.left-right2 {
  -moz-animation: 10s linear 0s infinite normal none running leftRight2;
  -webkit-animation: 10s linear 0s infinite normal none running leftRight2;
  animation: 10s linear 0s infinite normal none running leftRight2;
}

/* for Firefox */
/* @-moz-keyframes leftRight2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
} */

/* for Chrome */
/* @-webkit-keyframes leftRight2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
} */

@keyframes leftRight2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.left-right3 {
  -moz-animation: 10s linear 0s infinite normal none running leftRight3;
  -webkit-animation: 10s linear 0s infinite normal none running leftRight3;
  animation: 10s linear 0s infinite normal none running leftRight3;
}

/* for Firefox */
/* @-moz-keyframes leftRight3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(200%);
  }
} */

/* for Chrome */
/* @-webkit-keyframes leftRight3 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(200%);
  }
} */

@keyframes leftRight3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.right-left1 {
  -moz-animation: 10s linear 0s infinite normal none running rightLeft1;
  -webkit-animation: 10s linear 0s infinite normal none running rightLeft1;
  animation: 10s linear 0s infinite normal none running rightLeft1;
}

/* for Firefox */
/* @-moz-keyframes rightLeft1 {
  0% {
    transform: translateX(-0%);
  }

  100% {
    transform: translateX(-100%);
  }
} */

/* for Chrome */
/* @-webkit-keyframes rightLeft1 {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
} */

@keyframes rightLeft1 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.right-left2 {
  -moz-animation: 10s linear 0s infinite normal none running rightLeft2;
  -webkit-animation: 10s linear 0s infinite normal none running rightLeft2;
  animation: 10s linear 0s infinite normal none running rightLeft2;
}

/* for Firefox */
/* @-moz-keyframes rightLeft2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
} */

/* for Chrome */
/* @-webkit-keyframes rightLeft2 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
} */

@keyframes rightLeft2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.right-left3 {
  /* animation properties */
  -moz-animation: 10s linear 0s infinite normal none running rightLeft3;
  -webkit-animation: 10s linear 0s infinite normal none running rightLeft3;
  animation: 10s linear 0s infinite normal none running rightLeft3;
}

/* for Firefox */
@-moz-keyframes rightLeft3 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* for Chrome */
/* @-webkit-keyframes rightLeft3 {
  0% {
    -webkit-transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
} */

@keyframes rightLeft3 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* for mobile */
.mobile-left-right1 {
  -moz-animation: 10s linear 0s infinite normal none running mobileLeftRight1;
  -webkit-animation: 10s linear 0s infinite normal none running mobileLeftRight1;
  animation: 10s linear 0s infinite normal none running mobileLeftRight1;
}

/* for Firefox */
/* @-moz-keyframes mobileLeftRight1 {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(0%);
  }
} */

/* for Chrome */
/* @-webkit-keyframes mobileLeftRight1 {
  0% {
    -webkit-transform: translateX(-150%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
} */

@keyframes mobileLeftRight1 {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(0%);
  }
}

.mobile-left-right2 {
  -moz-animation: 10s linear 0s infinite normal none running mobileLeftRight2;
  -webkit-animation: 10s linear 0s infinite normal none running mobileLeftRight2;
  animation: 10s linear 0s infinite normal none running mobileLeftRight2;
}

/* for Firefox */
@-moz-keyframes mobileLeftRight2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(150%);
  }
}

/* for Chrome */
/* @-webkit-keyframes mobileLeftRight2 {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(150%);
  }
} */

@keyframes mobileLeftRight2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(150%);
  }
}

.mobile-right-left1 {
  -moz-animation: 10s linear 0s infinite normal none running mobileRightLeft1;
  -webkit-animation: 10s linear 0s infinite normal none running mobileRightLeft1;
  animation: 10s linear 0s infinite normal none running mobileRightLeft1;
}

/* for Firefox */
/* @-moz-keyframes mobileRightLeft1 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-150%);
  }
} */

/* for Chrome */
/* @-webkit-keyframes mobileRightLeft1 {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-150%);
  }
} */

@keyframes mobileRightLeft1 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-150%);
  }
}

.mobile-right-left2 {
  -moz-animation: 10s linear 0s infinite normal none running mobileRightLeft2;
  -webkit-animation: 10s linear 0s infinite normal none running mobileRightLeft2;
  animation: 10s linear 0s infinite normal none running mobileRightLeft2;
}

/* for Firefox */
/* @-moz-keyframes mobileRightLeft2 {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0%);
  }
} */

/* for Chrome */
/* @-webkit-keyframes mobileRightLeft2 {
  0% {
    -webkit-transform: translateX(150%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
} */

@keyframes mobileRightLeft2 {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0%);
  }
}
