$font-poppin: "Poppins", sans-serif;
$font-roboto: "Roboto Flex", sans-serif;
$color-black: #101010;
$trans-time: cubic-bezier(0.4, 0, 0.2, 1);
$trans-dura: 500ms;

// FOOTER
$backgroundfooter-icon: #dddedf;
$backgroundfooter-icon-hover: #cccdcf;

//MAIN PAGE DETAIL
