$font-poppin: "Poppins", sans-serif;
$font-roboto: "Roboto Flex", sans-serif;
$color-black: #101010;
$trans-time: cubic-bezier(0.4, 0, 0.2, 1);
$trans-dura: 500ms;

// HEADER
$titleheader-hover: #828383;

// FOOTER
$backgroundfooter-icon: #dddedf;
$backgroundfooter-icon-hover: #cccdcf;

//INTERVIEW PAGE
$red-content-word: #db2f33;
$color-under-image: #999999;

// GALLERY PAGE
$font-inter: "Inter", sans-serif;
$color-white-gallery: #ffffff;

// MAIN FOUNDER
