$pad-s: 0.5em;
$pad-m: 1em;
$pad-l: 2em;
$primary: rgb(0, 173, 255);
$shadow: 0 2px 6px rgba(black, 0.15);
$main-bg: scale-color($primary, $lightness: 80%, $saturation: -30%);
$nav-hover: scale-color($primary, $lightness: 88%, $saturation: -30%);

// RESETTING ///////////////

#root2 {
  height: 100vh;
  background-color: #888;
}

// This is how CSS "box-sizing" reset it truely done BTW:

@mixin diagonalBg($c1: white, $c2: silver, $size: 22px, $deg: -45) {
  background-image: linear-gradient(
    #{$deg}deg,
    $c1 25%,
    $c2 25%,
    $c2 50%,
    $c1 50%,
    $c1 75%,
    $c2 75%,
    $c2 100%
  );
  background-size: $size $size;
}

.main {
  display: flex;
  height: 100%;

  > .mainContent {
    flex: 100;
    padding: $pad-l 20% $pad-l $pad-l;
    box-shadow: $shadow;
    background: white;
    margin-right: 0.5em;
    border-radius: 6px;
    line-height: 1.5;
    overflow: auto;

    h3 {
      color: #444;
      font: 500 2em "Oleo Script";
    }
  }

  > aside {
    --delta: 0;
    flex: calc(20% + var(--delta) * 1px);
    min-width: 300px;
    background: white;
    box-shadow: $shadow;
    border-radius: 6px;
    overflow: hidden;
  }
}

.asideComp {
  display: flex;

  &.isDragging {
    user-select: none;

    > nav {
      background: $nav-hover !important;
    }
  }

  > nav {
    flex: 1;
    height: 350px;
    &:hover {
      background: $nav-hover;
    }

    > button {
      background: none;
      border: 0;
      width: 100%;
      padding: 2vh 0.2em;
      font-size: 1.2em;
      filter: grayscale(1);
      transition: 0.5s;
      cursor: pointer;
      user-select: none;
      opacity: 0.6;

      &:focus {
        background: none;
        outline: none;
      }

      &:hover {
        //filter: grayscale(.5);
        transition: 0s;
        opacity: 1;
      }

      &.active {
        filter: none;
        transition: 50ms;
        opacity: 0.8;
      }
    }
  }

  .asideContent {
    flex: 100;
    overflow: auto;
    > section {
      margin-bottom: $pad-l;
      padding: $pad-m;
      height: 550px;

      &:last-child:not(:first-child) {
        margin-bottom: 50%;
      }

      > header {
        position: sticky;
        top: -1px;
        padding-top: $pad-s;
        margin-top: -$pad-s;
        padding-bottom: $pad-s;
        background: linear-gradient(to top, transparent 0%, #fff 30%);
        text-transform: capitalize;
        font: 500 1.33em "Oleo Script";
        color: #999;
        transition: 0.1s;
        //  border-bottom: 1px solid rgba($primary, .2);
      }

      .sideSectionContent {
        color: #888;
        font-size: 0.9em;
        line-height: 1.3;
      }

      &.active {
        > header {
          color: $primary;
        }

        .sideSectionContent {
          color: #333;
        }
      }
    }
  }
}
