.rootfooter {
  width: 100%;
  padding-bottom: 55px;
  padding-top: 50px;
  padding-left: 180px;
  padding-right: 180px;
  background-color: #e8e9eb;
  .mainfooter {
    display: flex;
    width: 100%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    // background-color: aqua;
    .addressdetailfooter {
      height: 16px;

      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      /* identical to box height, or 145% */

      letter-spacing: -0.01em;

      color: #101010;

      opacity: 0.4;
      margin-top: 10px;
      margin-left: 30px;
    }
    .allrightframe {
      margin-left: auto;
      margin-top: 10px;
      height: 16px;

      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      /* identical to box height, or 145% */

      letter-spacing: -0.01em;

      /* BLACK */

      color: #101010;

      opacity: 0.4;
    }
    .framelogofb-mb {
      display: none;
    }
    .framelogolk-mb {
      display: none;
    }
    .framelogofb {
      opacity: 0.4;
      cursor: pointer;
      /* Auto layout */
      margin-left: 20px;
      width: 34px;
      height: 34px;
      background: rgba(0, 0, 0, 0.12);
      border-radius: 100px;
    }
    .framelogolk {
      cursor: pointer;
      opacity: 0.4;
      margin-left: 10px;
      width: 34px;
      height: 34px;

      background: rgba(0, 0, 0, 0.12);
      border-radius: 100px;
    }
  }
}

//RESPONSIVE
@media screen and (max-width: 769px) {
  .rootfooter {
    width: 100%;
    padding-bottom: 90px;
    padding-top: 37px;
    padding-left: 0px;
    padding-right: 9px;
    padding-bottom: 40px;
    .mainfooter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;
      .frameaddress {
        display: flex;
        margin-top: 15px;

        .addressdetailfooter {
          height: 32px;
          font-weight: 400;
          font-size: 9px;
          line-height: 16px;
          /* identical to box height, or 145% */
          letter-spacing: -0.01em;
          text-align: left;
          color: #101010;

          opacity: 0.4;
          margin-top: 10px;
          margin-left: 0px;
          margin-right: 30px;
        }

        .framelogofb-mb {
          opacity: 0.4;
          cursor: pointer;
          display: block;
          margin-top: 10px;
          margin-left: 0px;
          width: 53px;
          height: 53px;
        }
        .framelogolk-mb {
          opacity: 0.4;
          cursor: pointer;
          display: block;
          margin-top: 10px;
          margin-left: 12px;
          width: 53px;
          height: 53px;
        }
      }
      .allrightframe {
        height: 16px;

        font-weight: 400;
        font-size: 9px;
        line-height: 16px;
        /* identical to box height, or 145% */

        letter-spacing: -0.01em;

        /* BLACK */

        color: #101010;

        opacity: 0.4;
        margin: 0px;
        margin-top: 15px;
      }
      .framelogofb {
        display: none;
      }
      .framelogolk {
        display: none;
      }
    }
  }
}
