.frame-element {
  height: 100vh;
  background: #f8f8f8;
  margin: 0;
  border: 0;
}

.element {
  background: #ffd200;
  padding: 10px;
  margin: 0;
  line-height: 1;
  display: flex;
}

.category {
  background: rebeccapurple;
  padding: 10px;
  margin: 0;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
