.rootmainfounder {
  width: auto;
  .framebutton {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .buttoncategory-active {
      box-sizing: border-box;
      /* Auto layout */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 28px;
      gap: 10px;
      width: 330px;
      height: 62px;
      /* BLACK 101010 */
      cursor: pointer;
      background: #101010;
      /* BLACK 101010 */

      border: 1px solid #101010;

      /* Inside auto layout */
      transition-duration: 550ms;
      transition-property: all;

      .detailtitlebutton {
        // width: 80px;
        width: auto;
        height: 30px;

        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        text-align: center;

        /* WHITE */

        color: #ffffff;
      }
    }
    .buttoncategory {
      box-sizing: border-box;
      /* Auto layout */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 28px;
      gap: 10px;
      width: 330px;
      height: 62px;
      /* BLACK 101010 */
      cursor: pointer;
      background: white;
      /* BLACK 101010 */

      border: 1px solid #101010;

      .detailtitlebutton {
        width: auto;
        height: 30px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        text-align: center;

        /* BLACK 101010 */

        color: #101010;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }
    .buttoncategory:hover {
      background-color: #f9f9f9;
    }
  }
  .framefounder {
    margin: auto;
    width: 1320px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 23px;
    row-gap: 40px;
    margin-bottom: 140px;
    .frameimgfounder {
      position: relative;
      // margin-left: 12px;
      // margin-top: 10px;
      //   width: 400px;
      border-radius: 20px;
      cursor: pointer;
      overflow: hidden;
      .imgfounder {
        // box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
      }

      .framemaintile {
        position: absolute;
        top: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .framedetailfoundername {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 100;
          font-size: 50px;
          line-height: 50px;
          color: #ffffff;
          text-align: center;
          margin-bottom: 25px;
          width: 100%;
          // padding-left: 70px;
          // padding-right: 70px;
          // background-color: #101010;
          // opacity: 0.2;
          .detailfoundername {
            height: 100px;
            /* or 100% */
            .titlename {
              font-weight: 900;
              margin: auto;
            }
          }
        }
        .titledetail {
          /* Body 20 Poppins */
          // position: absolute;
          // top: 20;
          width: 360px;
          height: 100px;
          // bottom: 5%;
          // left: 8%;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 32px;
          /* or 160% */

          text-align: center;
          letter-spacing: -0.02em;

          /* WHITE */
          color: #ffffff;

          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          /* Inside auto layout */
          z-index: 50;
        }
      }

      .bgBlur2 {
        width: 100%;
        top: 71%;
        height: 55%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        // transform: translateY(-100%);
      }
    }
    .frameimgfounder:hover {
      .bgBlur2 {
        transform: translateY(-44%);
        transition-property: all;
        transition-duration: 200ms;
      }
      .framedetailfoundername {
        transform: translateY(-140%);
        transition-property: all;
        transition-duration: 200ms;
      }
      .titledetail {
        transform: translateY(-140%);
        transition-property: all;
        transition-duration: 200ms;
      }
      .btnInterview {
        transform: translateY(-240%);
        transition-property: all;
        transition-duration: 200ms;
      }
      img {
        transform: scale(110%, 110%);
        transition-property: all;
        transition-duration: 150ms;
      }
    }
  }
}

// RESPONSIVE

/* MOBILE WIDTH < 740px */
@media screen and (max-width: 769px) {
  .rootmainfounder {
    width: auto;
    .carouselcategory {
      // height: auto;
      // width: 100%;
      height: 24px;
      margin: auto;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      letter-spacing: -0.5px;

      /* Gray/800 */

      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;

      .slick-list {
        // width: 522px;
        border-bottom: 1px solid gray;
      }
      .tab-active {
        .itemslide {
          background: #ffffff;
          width: 150px;
          padding-top: 17px;
          color: #222222;
          text-align: center;
        }
        .itemslide::after {
          content: "";
          display: block;
          width: 100px;
          height: 2px;
          margin: auto;
          margin-top: 15px;
          background: #222222;
        }
      }
      .itemslide {
        color: #999999;
        background: #ffffff;
        width: 150px;
        padding-top: 17px;
        text-align: center;
      }
      .itemslide:hover {
        cursor: pointer;
        color: #222222;
      }
    }
    // IMG FOUNDER
    .framefounder {
      margin: auto;
      width: 95%;
      display: flex;
      flex-wrap: wrap;
      padding-left: 20px;
      margin-top: 60px;

      column-gap: 15px;
      row-gap: 10px;
      margin-bottom: 55px;
      // background-color: red;
      .frameimgfounder {
        position: relative;
        cursor: pointer;
        margin-top: 10px;
        // margin-left: 20px;
        border-radius: 20px;
        .imgfounder {
          border-radius: 0px;
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
        }
        .framemaintile {
          position: absolute;
          top: 60%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          .framedetailfoundername {
            height: 48px;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-size: 24px;
            line-height: 24px;
            color: #ffffff;
            text-align: center;
            border-radius: 40px;
            background-color: transparent;
            .detailfoundername {
              // top: 20;
              // width: 500px;
              height: 100px;
              /* or 100% */
              /* Inside auto layout */
              flex: none;
              order: 0;
              flex-grow: 0;
              // background: linear-gradient(180deg, rgba(89, 78, 64, 0) 0%, #594e40 100%);
              .titlename {
                font-weight: 900;
              }
            }
          }
          .titledetail {
            display: none;
          }
        }
      }
      .frameimgfounder:hover {
        .bgBlur {
          transform: translateY(0%);
          transition-property: none;
          transition-duration: 200ms;
        }
        .framedetailfoundername {
          transform: translateY(0%);
          transition-property: none;
          transition-duration: 200ms;
        }
        .titledetail {
          transform: translateY(0%);
          transition-property: none;
          transition-duration: 200ms;
        }
        .btnInterview {
          transform: translateY(0%);
          transition-property: none;
          transition-duration: 200ms;
        }
        img {
          transform: none;
        }
      }
    }
  }
}
